@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Metal&display=swap");

* {
  /*font-family: "Metal", serif;
  font-family: "Limelight", sans-serif;*/
  font-style: normal;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url(../Assets/);
}
header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  background-color: black;
}
@media screen and (max-width: 768px) {
  header {
    height: 130px;
  }
  .navLinks ul li {
    flex-direction: column;
    font-size: 25px;
  }
}
.logo {
  border-radius: 50%;
  padding: 10px;
  width: 70px;
  height: 70px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.brand {
  display: flex;
  p {
    font-family: "Metal", serif;
    font-size: 20px;
  }
}
.navLinks li {
  font-family: "Limelight", sans-serif;
  display: inline-flex;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 25px;
}
.navlink {
  color: black;
  padding: 2px;
  background-color: white;
  border-radius: 10%;
}
a:hover {
  color: gray;
  transition: color 0.3s ease;
}
.navStore {
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: space-around;
  position: fixed;
  height: 70px;
  width: 100%;
  margin-top: 60px;
  background-color: black;
  ul li {
    font-family: "Limelight", sans-serif;
    display: inline-flex;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .navStore {
    height: 100px;
    margin-top: 130px;
    ul li {
      flex-direction: column;
      font-size: 25px;
    }
  }
}
.head {
  background-image: url(../Assets/Amy\ Winehouse\ 9.jpg);
}
.artistHead {
  background-image: url(../Assets/Amy\ Winehouse\ 15.jfif);
}
.musicHead {
  background-image: url(../Assets/Amy\ Winehouse\ 16.jpg);
}
.contactHead {
  background-image: url(../Assets/Amy\ Winehouse\ 13.jpg);
  height: 400px !important;
}
.storeHead {
  height: 100px;
}

.head,
.artistHead,
.musicHead,
.contactHead {
  height: 650px;
  background-size: cover;
  background-position: center;
  text-align: end;
  padding-top: 100px;
  padding-right: 40px;
  font-family: "Metal", serif;
  font-size: 50px;
}
h2,
h3 {
  font-size: 40px;
  border-style: solid;
}
.introduction,
.biography,
.store,
.gallery,
.discography,
.musicDiscography,
.Acknowledgments,
.products,
.contact {
  font-family: "Limelight", sans-serif;
  font-size: 25px;
  margin-top: 70px;
  margin-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.musicHead h1 {
  color: black;
}
.cursive {
  font-size: 50px;
  font-family: "Metal", serif;
}
.introText,
.bioText,
.grammysText p {
  font-family: "Metal", serif;
  list-style: decimal;
}
.story,
.narration,
.albums,
.Frank,
.BackToBlack,
.Grammys,
.contactInfo,
.Cart {
  padding-top: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: start;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .story,
  .narration,
  .albums,
  .Frank,
  .BackToBlack,
  .Grammys,
  .contactInfo {
    flex-direction: column;
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .Acknowledgments h3 {
    font-size: 30px;
  }
}
a:hover {
  color: gray;
  transition: color 0.3s ease;
}
.album1,
.album2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    height: 400px;
    width: 400px;
    padding: 10px;
  }
}
.storeImg {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    margin-bottom: 20px;
    width: 300px;
    height: 400px;
  }
}

a:hover {
  color: gray;
  transition: color 0.3s ease;
}
footer {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }
}
.socials {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-right: 40px;
}
.galleryImg {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.galleryImg img {
  width: 250px;
  height: 400px;
  margin: 10px;
  padding: 10px;
  border-radius: 104px 0px 103px 0px;
  -webkit-border-radius: 104px 0px 103px 0px;
  -moz-border-radius: 104px 0px 103px 0px;
  border: 3px solid #fdfdfd;
}
.galleryImg img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  border-radius: 20px;
  border: none;
}
.musicDiscography {
  display: flex;
  flex-direction: column;
  font-family: "Limelight", sans-serif;
}
.items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  justify-content: space-between;
  margin: 40px;
}
@media screen and (max-width: 768px) {
  .items {
    flex-direction: column;
  }
}
.items img {
  width: 250px;
  height: 400px;
  margin: 10px;
  padding: 10px;
}
.item {
  border-radius: 20px;
  border: 3px solid #fdfdfd;

  padding-bottom: 10px;
}
.item:hover {
  background-color: #5c5c5c;
  transition: all 0.3s ease-in-out;
  h4 {
    color: black;
  }
}
.item button {
  padding: 8px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  font-size: 20px;
}
.item button:hover {
  background-color: black;
  color: white;
  transition: all 0.3s ease-in-out;
}
.contactForm,
.map {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  color: black;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 400px;
}
input[name="message"] {
  height: 150px;
}
small {
  color: #9f0d0d;
}
.errorMessage {
  display: none;
}

.CartTicket {
  background-image: url(../Assets/Amy\ Winehouse\ 12.jpg);
  padding-top: 100px;
  font-family: "Limelight", sans-serif;
  font-size: 30px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  h1,
  h3,
  th,
  td {
    color: black;
  }
  tr:nth-child(even){background-color: #f2f2f2}

  th {
  background-color: #000000;
  border-radius: 10%;
  padding: 4px;
  color: white;
  font-size: 50px;
  }
  .Cart {
    border-collapse: collapse;
    border: 3px solid black;
    width: 500px;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    td {
      padding: 20px;
      background-color: whitesmoke
    }
  }
}
.CartTicket {
  padding-bottom: 30px;
}
#totalTicket {
  color: black;
}
.Delete {
  font-size: 25px;
  cursor: pointer;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}